@import "../mixins/mixins"
@import "../vars/variables"

html, body
  font: $fz-base/$line-height-base $family-base
  height: 100%
  width: 100%
  color: $color-base
  background: $bg-color-base
  scroll-behavior: smooth
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*, *:before, *:after
  box-sizing: border-box

\:root
  +media($land, $scaling)
    font-size: vw(16, $size-land)

  +media($landLaptop)
    font-size: vh(16, $size-land-vh)

  +media($port)
    font-size: vw(16, $size-port)

#app
  min-height: 100%
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: flex-start
  transition: opacity $anim-global ease-out

  +is-mobile-app
    display: block

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  #app
    display: block
    height: 100vh

.content
  flex: 1 1 auto

.container
  max-width: rem(1200px)
  padding: 0 rem(20px)
  margin: 0 auto

.-mobile-hide
  +is-mobile-app
    display: none !important







