.input-text
  width: 100%
  padding: rem(12px) rem(26px)
  background: rgba(0, 0, 0, 0.4)
  border: rem(1px) solid $color-white
  font-size: rem(20px)
  font-weight: 300
  line-height: 150%
  color: $color-white

  +is-mobile-app
    font-size: rem(15px)
    padding: rem(9px) rem(16px)

  &.-error
    border-color: $color-red
    animation: bounce $anim-global

  +placeholder
    opacity: 1
    color: $color-white
