.pager
  text-align: center
  font-weight: 500
  font-size: rem(20px)
  line-height: 1
  margin-top: rem(20px)

  .pager-next, .pager-prev
    font-size: 0.6em

  .pager-item, li
    border-radius: 6px
    text-align: center
    min-width: rem(26px)
    height: rem(26px)
    display: inline-flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    cursor: pointer
    padding-left: 5px
    padding-right: 5px

    &.-disabled
      cursor: default
      opacity: 0.3

      a
        cursor: default

    a
      text-decoration: none
      color: $color-base

    &.-active, &.active
      pointer-events: none
      background-color: $color-green
      color: $color-base

      a
        color: $color-base

  span
    margin: 0 1vmin
