@import "../mixins/mixins"
@import "../vars/variables"

.widget
  position: relative
  width: rem(282px)
  margin-left: rem(42px)

  &.-center
    position: static
    margin: rem(30px) auto

  +is-mobile-app
    width: auto
    margin: 0
    overflow: auto

.widget__container
  border: 1px solid #535353
  box-shadow: 0px 18.6313px 37.2625px #000000, 5.58938px 5.58938px 4.65782px rgba(0, 0, 0, 0.25), inset 0px 0px 65.2095px rgba(255, 255, 255, 0.25)
  position: relative
  background: $color-black url("../assets/images/bg.png") no-repeat 0 0
  background-size: cover
  padding: rem(30px)

  +is-mobile-app
    background-image: url("../assets/images/bg-m.png")
    padding: rem(20px) rem(28px)
    min-height: 100vh

.widget__kv
  position: absolute
  top: rem(-49px)
  left: rem(10px)
  width: rem(120px)

  +is-mobile-app
    display: none

.widget__kv-m
  display: none
  position: absolute
  top: 10%
  right: 7%
  width: rem(213px)
  pointer-events: none

  +is-mobile-app
    display: block
