<template lang="pug">
  .popup-close(@click="close")
    i.icon.i_x
</template>

<script>
export default {
  name: 'CloseBtn',
  data() {
    return {};
  },
  methods: {
    async close() {
      await this.$store.dispatch('popup/hide');
    },
  },
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.popup-close
  width: rem(35px)
  height: rem(35px)
  background: $color-black
  border: 1px solid #535353
  box-sizing: border-box
  display: inline-flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  font-size: 1.1rem
  line-height: 1
  color: #535353
  cursor: pointer
  position: absolute
  right: rem(20px)
  top: rem(20px)

  .icon
    transition: all $anim-global cubic-bezier(0.47, 1.87, 0.68, 0.99)

  +is-mobile-app
    width: rem(24px)
    height: rem(24px)
    right: rem(9px)
    top: rem(9px)
    font-size: 0.8rem

  &:hover
    color: $color-red

    .icon
      transform: rotate(90deg)

</style>
