<template lang="pug">
  RatingUpSuccess(@close="close")
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PopupRatingUpSuccess',

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      platform: 'app/platform',
    }),
  },

  methods: {
    ...mapActions({
      close: 'popup/hide',
    }),
  },

  mounted() {},

  components: {
    RatingUpSuccess: () => import('@/components/popups/RatingUpSuccess.vue'),
  },
};
</script>

<style lang="sass">
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

</style>
