<template lang="pug">
  .popup-window
    CloseBtn

    .popup__vertical-center
      .popup-title(v-if="$store.getters['popup/popup'].message.head")
        Img.popup-title__bg(src="popup-title-bg" type="svg")
        div(v-html="$store.getters['popup/popup'].message.head") Вход

      .popup__text(
        v-if="$store.getters['popup/popup'].message.body"
        v-html="$store.getters['popup/popup'].message.body")

      .popup-footer(v-if="$store.getters['popup/popup'].message.btn")
        .text-center
          .btn(@click="close") {{$store.getters['popup/popup'].message.btn}}

</template>

<script>
export default {
  name: 'PopupMessage',

  methods: {
    async close() {
      await this.$store.dispatch('popup/hide');
    },
  },

  components: {
    CloseBtn: () => import('@/components/popups/CloseBtn.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.popup-title
  margin-bottom: 0

</style>
