<template lang="pug">
  .popup-window
    CloseBtn

    .text-left
      .back(
        @click="close"
        v-if="platform === 'mobile'")
        .icon.i_arr-l
        span НАЗАД

    .title {{'Следи за расписанием стримов на каналах и' | typograf}} <span>Лети в топ!</span>

    table.table
      tbody
        tr(v-for="({ name, link }, index) in list")
          td.table__count {{ index < 9 ? `0${index + 1}` : index + 1}}

          td {{ name }}

          td.text-center
            a(:href="link")
              Img.table__btn(src="btn-go" type="svg")

</template>

<script>
import { mapGetters, mapActions } from 'vuex';

const list = Object.freeze([
  {
    name: 'koreshzy',
    link: 'https://www.twitch.tv/koreshzyy',
  },
  {
    name: 'Paradeevich',
    link: 'https://www.twitch.tv/paradeev1ch',
  },
  {
    name: 'Ekatze007',
    link: 'https://www.twitch.tv/ekatze007',
  },
  {
    name: 'ZakvielChannel',
    link: 'https://www.twitch.tv/zakvielchannell',
  },
  {
    name: 'General_hs_',
    link: 'https://www.twitch.tv/general_hs_',
  },
  {
    name: 'Buster',
    link: 'https://www.twitch.tv/buster',
  },
  {
    name: 'DinaBlin',
    link: 'https://www.twitch.tv/dinablin',
  },
  {
    name: 'Манурин',
    link: 'https://www.twitch.tv/manyrin',
  },
  {
    name: 'PCH3LK1N',
    link: 'https://www.twitch.tv/pch3lk1n',
  },
  {
    name: 'spt083',
    link: 'https://www.twitch.tv/spt083',
  },
]);

export default {
  name: 'PopupStreamers',

  data() {
    return {
      list,
    };
  },

  computed: {
    ...mapGetters({
      platform: 'app/platform',
    }),
  },

  methods: {
    ...mapActions({
      close: 'popup/hide',
    }),
  },

  mounted() {},

  components: {
    CloseBtn: () => import('@/components/popups/CloseBtn.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.back
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  cursor: pointer
  margin-bottom: rem(17px)
  text-transform: uppercase
  font-size: rem(14px)
  font-family: $family-base
  line-height: 1

  .icon
    margin-right: rem(5px)

.title
  text-transform: uppercase
  font-size: rem(24px)
  color: $color-green
  font-family: $family-alt
  font-weight: 500
  font-style: italic
  line-height: 131%
  text-align: center
  margin-bottom: rem(30px)
  padding: 0 rem(15px)

  +is-mobile-app
    text-align: left
    font-size: rem(18px)
    margin-bottom: rem(5px)
    padding: 0

  span
    white-space: nowrap
    display: inline-block
    font-size: 57px
    line-height: 94%
    text-shadow: 0px 5.35494px 53.5494px #00FFA9
    color: $color-white
    vertical-align: top

    +is-mobile-app
      font-size: rem(18px)
      text-shadow: none
      display: inline
      vertical-align: baseline

.table__btn
  cursor: pointer
  width: rem(106px)
  height: rem(29px)

.popup-window
  width: rem(465px)
  background: $color-black url("../../assets/images/popup-bg1.png") no-repeat 0 0
  background-size: cover

.table
  width: 100%
  border-spacing: 0
  border-collapse: collapse

  td
    border-bottom: 1px solid #2D2E2D
    font-weight: 500
    padding: rem(8px)
    font-family: $family-alt
    font-size: rem(18px)
    color: $color-white
    text-transform: uppercase
    vertical-align: baseline
    position: relative

    &.table__count
      color: $color-green
      font-size: rem(11px)
      text-align: right

    +is-mobile-app
      font-size: rem(16px)
      padding: rem(4px)

</style>
