<template lang="pug">
  .popup(@click.self="!$store.getters['popup/popup'].disabled && $store.dispatch('popup/hide')")
    transition(name="scale" @after-leave="close" mode="out-in")
      .popup-content(v-if="$store.getters['popup/popup'].openedPopupContent")

        slot
</template>

<script>
export default {
  name: 'PopupLayout',

  props: ['showContent'],

  methods: {
    close() {
      this.$store.dispatch('popup/show', {
        opened: null,
      });
    },
  },

  components: {},
};
</script>

<style lang="sass">
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  overflow: auto
  background: rgba(0, 0, 0, .1)
  text-align: center

  +scrollbars(6px, $color-white, 0, $color-black)

  &::before
    content: ""
    height: 100%
    width: 0
    vertical-align: middle
    display: inline-block

  +is-mobile-app
    overflow: hidden

.popup-footer
  margin-top: rem(28px)

  +is-mobile-app
    margin-top: rem(10px)

.popup-window
  width: rem(740px)
  max-width: 100%
  padding: rem(50px) rem(36px)
  position: relative
  border: 1px solid #535353
  box-shadow: 0px rem(20px) rem(40px) #000000, 6px 6px 5px rgba(0, 0, 0, 0.25), inset 0px 0px 70px rgba(255, 255, 255, 0.25)
  background: $color-black url("../../assets/images/popup-bg.png") no-repeat 0 0
  background-size: cover

  &.pl-0
    padding-left: 0

    +is-mobile-app
      padding-left: 0
      padding-right: rem(5px)

  +is-mobile-app
    background-image: url("../../assets/images/bg-m.png")
    width: 100vw
    height: calc(var(--vh, 1vh) * 100)
    border-radius: 0
    box-shadow: none
    overflow: auto
    font-size: rem(16px)
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: stretch
    padding: rem(20px) rem(20px) rem(30px)

.popup-title
  position: relative
  padding: rem(36px) rem(77px)
  margin-bottom: rem(47px)
  text-align: center
  display: inline-block
  font-size: rem(60px)
  line-height: 1
  text-transform: uppercase
  color: $color-green
  font-family: $family-alt
  min-width: rem(571px)

  +is-mobile-app
    font-size: rem(26px)
    padding: rem(36px) rem(50px)
    margin-bottom: rem(22px)
    min-width: 90%

  > div
    position: relative

.popup-content
  position: relative
  display: inline-block
  max-width: 90%
  vertical-align: middle
  text-align: left

  +is-mobile-app
    max-width: 100%

</style>
