<template lang="pug">
  .popup-window.pl-0
    CloseBtn

    Img.widget__kv-m(src="kv-m")

    .text-left
      .back(
        @click="close"
        v-if="platform === 'mobile'")
        .icon.i_arr-l
        span НАЗАД

    .title Рейтинг

    .wrapper(v-if="rating")
      table.table
        thead
          tr
            th(:class="platform !== 'mobile' ? 'w-15' : 'w-10'")

            th Имя или ник

            th Очки

            th(:class="platform !== 'mobile' ? 'w-15' : 'w-20'")

        tbody
          tr.-bg2(v-if="rating.user")
            td.table-count
              .me ты <br>тут
              | {{ rating.user.place || '-' }}

            td {{ rating.user.nickname || '-' }}

            td {{ (rating.user.score || 0) | formatNumber }}

            td.-vert-middle
              .btn(
                @click="current = 'RatingUp'")
                SvgIcon.btn-pic(id="btn-green")
                .btn-text
                  span(v-html="platform !== 'mobile' ? 'Поднимись' : 'В топ!'")
                  .btn-icon.icon.i_arr-t

          tr(
            :class="place < 5 ? '-bg' : '-bg1'"
            v-for="({ place, score, nickname }, index) in rating.more")
            td.table-count
              .top(v-if="!index") ТОП
              | {{ place }}

            td {{ nickname }}

            td {{ (score || 0) | formatNumber }}

            td

      Paginate(
        v-model="page"
        ref="paginate"
        v-if="rating.more && pageCount > 1"
        :page-count="pageCount"
        :prev-text="`<i class='pager-prev icon i_arr-l'></i>`"
        :click-handler="clickCallback"
        :next-text="`<i class='pager-next icon i_arr-r'></i>`"
        :container-class="'pager reset'"
        :disabled-class="'-disabled'")

    p.text-center.color-green(v-else) Данных нет

    transition(name="fade" mode="out-in")
      component(
        :is="current"
        @close="result($event)")

</template>

<script>
import Paginate from 'vuejs-paginate';
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  name: 'PopupRating',

  data() {
    return {
      current: null,
      page: 1,
    };
  },

  computed: {
    ...mapGetters({
      platform: 'app/platform',
      rating: 'quiz/rating',
    }),

    pageCount() {
      return Math.ceil(this.rating?.totalUsersCount / 10) || 0;
    },
  },

  methods: {
    ...mapActions({
      get: 'quiz/RatingGet',
      close: 'popup/hide',
    }),

    ...mapMutations({
      update: 'quiz/UPDATE_RATING',
    }),

    clickCallback(pageNum) {
      this.ratingGet(pageNum);
    },

    async result(e) {
      this.page = 1;

      await this.ratingGet(1);

      this.current = e ? 'RatingUpSuccess' : null;
    },

    async ratingGet(n) {
      const payload = {
        ctx: this,
        data: {
          start: n === 1 ? 1 : n * 10 - 9,
          end: n * 10,
        },
      };

      const res = await this.get(payload);

      this.update(res);
    },
  },

  mounted() {
    this.ratingGet(1);
  },

  components: {
    Paginate,
    CloseBtn: () => import('@/components/popups/CloseBtn.vue'),
    RatingUp: () => import('@/components/popups/RatingUp.vue'),
    RatingUpSuccess: () => import('@/components/popups/RatingUpSuccess.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.color-green
  color: $color-green

.widget__kv-m
  top: 0
  right: rem(50px)

.back
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  cursor: pointer
  margin-bottom: rem(17px)
  text-transform: uppercase
  font-size: rem(14px)
  font-family: $family-base
  line-height: 1
  margin-left: rem(28px)

  .icon
    margin-right: rem(5px)

.top
  font-weight: 500
  position: absolute
  top: rem(50px)
  left: rem(-52px)
  text-transform: uppercase
  font-style: italic
  text-shadow: 0px 3.37485px 33.7485px #00FFA9
  transform: rotate(-90deg)
  font-size: rem(86px)
  line-height: 1
  font-family: $family-alt
  color: $color-white

  +is-mobile-app
    font-size: rem(39px)
    left: rem(-52px)

.btn-icon
  font-size: 0.8em
  margin-left: rem(2px)

  +is-mobile-app
    font-size: 0.6em

.btn
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  position: relative
  cursor: pointer
  vertical-align: middle

.btn-text
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-transform: uppercase
  color: $color-black
  font-size: rem(11px)
  font-family: $family-alt
  font-weight: 500
  padding-top: rem(2px)

  +is-mobile-app
    font-size: rem(9px)

.btn-pic
  width: rem(87px)
  height: rem(27px)

  +is-mobile-app
    width: rem(39px)
    height: rem(18px)

.me
  text-transform: uppercase
  position: absolute
  top: rem(-12px)
  left: rem(-23px)
  text-shadow: 0px 3.37485px 33.7485px #00FFA9
  font-family: $family-alt
  line-height: 1
  font-size: rem(33px)
  color: $color-white
  transform: rotate(-90deg)
  font-style: italic
  text-align: center

  +is-mobile-app
    top: rem(-3px)
    left: rem(-38px)
    font-size: rem(18px)

.more
  text-decoration: underline
  text-transform: uppercase
  color: $color-green
  text-align: center
  padding: rem(2px)
  cursor: pointer
  font-weight: normal
  font-family: $family-base
  font-size: rem(12px)

  &:hover
    text-decoration: none

.table
  width: 100%
  border-spacing: 0
  border-collapse: collapse
  table-layout: fixed

  tr
    &.-bg
      background: linear-gradient(90deg, rgba(106, 207, 180, 0) 2.17%, rgba(106, 207, 180, .2) 38.98%, rgba(106, 207, 180, .2) 46.23%, rgba(106, 207, 180, 0) 100%)

    &.-bg1
      background: linear-gradient(90deg, rgba(218, 218, 218, 0) 0%, rgba(161, 160, 160, 0.2) 48.03%, rgba(218, 218, 218, 0) 100%)

    &.-bg2
      background: linear-gradient(90deg, rgba(118, 129, 235, 0) 0%, rgba(118, 129, 235, .59) 38.98%, rgba(118, 129, 235, .59) 69.71%, rgba(118, 129, 235, 0) 100%)

  th
    font-weight: normal
    padding: rem(8px)
    text-align: left
    font-family: $family-alt
    font-size: rem(12px)
    color: $color-green
    text-transform: uppercase

    +is-mobile-app
      font-size: rem(10px)
      padding: rem(4px)

  td
    border-bottom: 1px solid #2D2E2D
    font-weight: 500
    padding: rem(8px)
    text-align: left
    font-family: $family-alt
    font-size: rem(18px)
    color: $color-white
    text-transform: uppercase
    vertical-align: baseline
    position: relative

    &:first-child, &:last-child
      border-bottom-color: transparent

    &.table-count
      color: $color-green
      font-size: rem(12px)
      font-family: $family-alt
      font-weight: bold
      text-align: right

      +is-mobile-app
        font-size: rem(10px)

    &.-vert-middle
      vertical-align: middle
      padding-top: 0
      padding-bottom: 0

    +is-mobile-app
      font-size: rem(16px)
      padding: rem(4px)

.wrapper
  padding-left: rem(36px)

  +is-mobile-app
    padding-left: rem(46px)

.title
  text-align: center
  text-transform: uppercase
  margin-bottom: rem(25px)
  text-shadow: 0px 4.67742px 46.7742px #00FFA9
  font-style: italic
  font-size: rem(50px)
  font-family: $family-alt
  font-weight: 500
  line-height: 1

  +is-mobile-app
    font-size: rem(35px)
    text-align: left
    margin-left: rem(28px)

</style>
