<template lang="pug">
  div(:class="[$style.wrapper, $style[platform]]")
    div(
      @click="$emit('close')"
      :class="$style.back" v-if="platform === 'mobile'")
      .icon.i_arr-l
      span НАЗАД

    Img(:class="[$style.kv, $style[platform]]" src="kv-m")

    div(:class="[$style.title, $style[platform]]") {{'Поднимись в рейтинге' | typograf}}

    div(:class="$style.text") {{ 'Введи промокод с пачки FIVE® и получи дополнительные баллы' | typograf }}

    CodeForm(
      @success="$emit('close', true)"
      :class="$style.form")

    ShowBtn(@click.native="$emit('close')")

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'RatingUp',

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      platform: 'app/platform',
    }),
  },

  methods: {},

  mounted() {},

  components: {
    CodeForm: () => import('@/components/CodeForm.vue'),
    ShowBtn: () => import('@/components/ShowBtn.vue'),
  },
};
</script>

<style lang="sass" module>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.back
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  cursor: pointer
  margin-bottom: rem(17px)
  text-transform: uppercase
  font-size: rem(14px)
  font-family: $family-base
  line-height: 1
  margin-left: rem(28px)
  position: absolute
  top: rem(15px)
  left: 0
  z-index: 100

  .icon
    margin-right: rem(5px)

.kv
  display: none
  position: absolute
  top: rem(5px)
  right: 12%
  width: rem(213px)
  pointer-events: none

  &.mobile
    display: block

.form
  width: 100%

.text
  font-size: rem(14px)
  line-height: (16/14)
  margin-bottom: rem(10px)

.title
  text-shadow: 0px 3px 30px #00FFA9
  font-size: rem(25px)
  font-family: $family-alt
  line-height: 1
  text-transform: uppercase
  margin-bottom: rem(16px)
  font-style: italic
  font-weight: 500

  &.mobile
    max-width: 50%
    font-size: rem(36px)

.wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1000
  border: 1px solid $color-grey
  box-shadow: 0 3px 30px #00FFA9
  padding: rem(50px) rem(28px)
  text-align: left
  background: $color-black url("../../assets/images/up-bg.png") no-repeat 50% 50%
  background-size: cover
  max-width: rem(282px)

  &.mobile
    transform: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    max-width: none
    padding: rem(68px) rem(28px) rem(50px)

</style>
