<template lang="pug">
  div(:class="[$style.wrapper, $style[platform]]")
    Img(:class="[$style.kv, $style[platform]]" src="kv-m")

    div(:class="[$style.title, $style[platform]]") {{'Промокод зарегистрирован ' | typograf}}

    div(:class="$style.text") {{ '400 дополнительных очков начисленно' | typograf }}

    button(
      v-if="platform !== 'mobile'"
      @click="$emit('close')"
      :class="$style.btn"
      type='button')
      SvgIcon(:class="$style.btnPic" id="btn-green")

      div(:class="$style.btnText") Ок

    Img(v-else :class="$style.like" src="like")

    ShowBtn(@click.native="$emit('close')")

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'RatingUpSuccess',

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      platform: 'app/platform',
    }),
  },

  methods: {},

  mounted() {},

  components: {
    ShowBtn: () => import('@/components/ShowBtn.vue'),
  },
};
</script>

<style lang="sass" module>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.like
  width: 100%

.btnText
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-transform: uppercase
  color: $color-black
  font-size: rem(18px)
  font-family: $family-alt
  font-weight: 500
  padding-bottom: rem(4px)

  +is-mobile-app
    font-size: rem(16px)

.btnPic
  width: rem(165px)
  height: rem(47px)

  +is-mobile-app
    width: rem(168px)
    height: rem(39px)

.btn
  position: relative
  cursor: pointer
  border: 0
  background: transparent

  &[disabled]
    pointer-events: none

.kv
  display: none
  position: absolute
  top: rem(5px)
  right: 12%
  width: rem(213px)
  pointer-events: none

  &.mobile
    display: block

.text
  font-size: rem(14px)
  line-height: (16/14)
  margin-bottom: rem(20px)

.title
  text-shadow: 0px 3px 30px #00FFA9
  font-size: rem(25px)
  font-family: $family-alt
  line-height: 1
  text-transform: uppercase
  margin-bottom: rem(10px)
  font-style: italic
  font-weight: 500

  &.mobile
    max-width: 50%
    font-size: rem(36px)

.wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1000
  border: 1px solid $color-grey
  box-shadow: 0 3px 30px #00FFA9
  padding: rem(30px) rem(28px)
  text-align: center
  background: $color-black url("../../assets/images/up-bg.png") no-repeat 50% 50%
  background-size: cover
  max-width: rem(282px)

  &.mobile
    transform: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    max-width: none
    padding: rem(68px) rem(28px) 0 rem(28px)
    text-align: left

</style>
