@import "../vars/variables"

//slide-top
.slide-top-enter-active, .slide-top-leave-active
  transition: transform $anim-global ease-out

.slide-top-enter, .slide-top-leave-to
  transform: translateY(-100%)

//slide-bottom
.slide-bottom-enter-active, .slide-bottom-leave-active
  transition: transform $anim-global ease-out

.slide-bottom-enter, .slide-bottom-leave-to
  transform: translateY(100%)

//slide-left
.slide-left-enter-active, .slide-left-leave-active
  transition: transform $anim-global ease-out

.slide-left-enter, .slide-left-leave-to
  transform: translateX(-100%)

//slide-right
.slide-right-enter-active, .slide-right-leave-active
  transition: transform $anim-global ease-out

.slide-right-enter, .slide-right-leave-to
  transform: translateX(100%)

//fade
.fade-enter-active, .fade-leave-active
  transition: opacity $anim-global ease-out

.fade-enter, .fade-leave-to
  opacity: 0

// slide-bottom-smile
.slide-bottom-smile-enter-active, .slide-bottom-smile-leave-active
  transition: all $anim-global ease-out

.slide-bottom-smile-enter
  transform: translateY(5%)
  opacity: 0

.slide-bottom-smile-leave-to
  transform: translateY(-5%)
  opacity: 0

// scale
.scale-enter-active
  animation: scale $anim-global ease-out

.scale-leave-active
  animation: scale $anim-global ease-out reverse

// slide-l-to-r
.slide-l-to-r-enter-active, .slide-l-to-r-leave-active
  transition: all $anim-global

.slide-l-to-r-enter
  transform: translateX(-10%)
  opacity: 0

.slide-l-to-r-leave-to
  animation: slide-l-to-r $anim-global

@keyframes scale
  0%
    transform: scale(0)

  60%
    transform: scale(1.05) translate3d(0,0,0)

  100%
    transform: scale(1) translate3d(0,0,0)

@keyframes slide-l-to-r
  from
    transform: translateX(0)

  50%
    opacity: 0.9
    transform: translateX(-4%)

  to
    opacity: 0
    transform: translateX(10%)

@keyframes bounce
  0%
    transform: translateX(0px)
    timing-function: ease-in

  37%
    transform: translateX(5px)
    timing-function: ease-out

  55%
    transform: translateX(-5px)
    timing-function: ease-in

  73%
    transform: translateX(4px)
    timing-function: ease-out

  82%
    transform: translateX(-4px)
    timing-function: ease-in

  91%
    transform: translateX(2px)
    timing-function: ease-out

  96%
    transform: translateX(-2px)
    timing-function: ease-in

  100%
    transform: translateX(0px)
    timing-function: ease-in

@keyframes bounceIn
  0%
    transform: scale(0.3) translate3d(0,0,0)

  50%
    transform: scale(1.3)

  80%
    transform: scale(0.89)

  100%
    transform: scale(1) translate3d(0,0,0)

// slide-bottom-smile
.slide-bottom-smile-enter-active, .slide-bottom-smile-leave-active
  transition: all $anim-global/2 ease-out
  transform: translate3d(0,0,0)

.slide-bottom-smile-enter
  transform: translateY(15px)
  opacity: 0

.slide-bottom-smile-leave-to
  transform: translateY(-15px)
  opacity: 0

// scale
.scale-enter-active
  animation: scale $anim-global*2 cubic-bezier(0.47, 1.87, 0.68, 0.99)

.scale-leave-active
  animation: scale $anim-global cubic-bezier(0.47, 1.87, 0.68, 0.99) reverse

@keyframes scale
  0%
    transform: scale(0) translate3d(0,0,0)

  100%
    transform: scale(1) translate3d(0,0,0)
