@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF DinText Pro";
  src: url("../assets/fonts/PFDinTextPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../assets/fonts/PFDinTextCompPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DIN Next for FIVE EU";
  src: url("../assets/fonts/DINNextforFIVE-EU.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


