<template lang="pug">
  form.form(@submit.prevent="send" novalidate autocomplete="off")
    div(:class="$style.item")
      input(
        :class="[$v.email.$error && $style['-error'], $style.input]"
        v-model="email"
        type="email"
        maxlength="150"
        placeholder="email@email.com"
        autocomplete="off")

      div(
        :class="$style.error"
        v-if="error") {{ error }}

    button(
      :class="[{'-pending': pending}, $style.btn]"
      :disabled="pending"
      type="submit")
      SvgIcon(
        :class="$style.pic"
        id="btn-green")
      div(:class="$style.text") Уведомить меня
      Loading(v-if="pending")

</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  name: 'RssForm',

  data() {
    return {
      error: null,
      pending: null,
      email: null,
    };
  },

  validations() {
    return {
      email: {
        required,
        email,
      },
    };
  },

  methods: {
    async send() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        if (!this.pending) {
          this.pending = true;

          this.error = null;

          const payload = {
            email: this.email,
          };

          try {
            const res = await this.$store.dispatch('me/Entries', payload);

            this.pending = null;

            if (!res.error) {
              this.email = null;

              this.$v.$reset();
            } else if (res.message) {
              this.error = res.message;
            }
          } catch (e) {
            this.error = e;
          } finally {
            this.pending = null;
          }
        }
      }
    },
  },

  mounted() {},

  components: {
    Loading: () => import('@/components/Loading.vue'),
  },
};
</script>

<style lang="sass" module>
@import "../../styles/mixins/mixins"
@import "../../styles/vars/variables"

.error
  color: $color-red
  line-height: 1
  margin-top: .5rem

.text
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-transform: uppercase
  font-size: rem(22px)
  font-family: $family-alt
  font-weight: 500
  line-height: 1

.btn
  position: relative
  background: transparent
  border: 0
  padding: 0
  cursor: pointer
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center

.pic
  width: 100%
  height: rem(67px)

.input
  width: 100%
  background: rgba(0, 0, 0, 0.4)
  border: 1px solid #FFFFFF
  color: $color-white
  padding: rem(10px)
  font-size: rem(20px)
  font-family: $family-base

  &.-error
    border-color: $color-red

  +placeholder
    color: $color-white
    opacity: 1

.item
  margin-bottom: rem(17px)

</style>
