<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,height=479,initial-scale=1.0">
      <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <title>Five gum quiz battle</title>
      <meta name="description" content="">
      <meta name="theme-color" content="#fff">
      <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
