<template lang="pug">
  .quiz
    h6 Панель управления викториной

    Select(
      :propName="'title'"
      v-if="list"
      @select="quizId = $event; clear();"
      :placeholder="'Выберите викторину'"
      :list="list")

    div(v-if="quizId")
      p(v-if="quiz") Вопрос {{ quiz.n }} из {{ quiz.total }}

      p
        button(
          @click="start({ data: { quiz_id: quizId.id } }); started = true"
          type="button")
            template(v-if="!quiz") Старт
            template(v-else-if="quiz && (quiz.total > quiz.n)") Следующий вопрос
            template(v-else) Завершить

      p
        button(
          @click="clear();"
          type="button") Стоп

      p
        button(
          @click="reset(); clear();"
          type="button") Сброс
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  name: 'Dashboard',

  data() {
    return {
      quizId: null,
      started: null,
    };
  },

  computed: {
    ...mapGetters({
      list: 'admin/quizList',
      quiz: 'quiz/quiz',
    }),
  },

  methods: {
    ...mapActions({
      start: 'admin/AdminQuizStart',
      close: 'admin/AdminQuizClose',
      reset: 'admin/AdminQuizReset',
    }),

    ...mapMutations({
      updateQuiz: 'quiz/UPDATE_QUIZ',
    }),

    clear() {
      this.started = null;

      this.close();

      this.updateQuiz(null);
    },

    onStartQuiz() {
      this.updateQuiz(null);

      this.$options.sockets.onmessage = (e) => {
        const message = JSON.parse(e.data);

        if (message.name === 'question') {
          this.updateQuiz(message.data);
        }

        if (message.name === 'result') {
          this.started = null;

          this.updateQuiz(null);
        }
      };
    },
  },

  mounted() {
    this.onStartQuiz();
  },

  components: {
    Select: () => import('@/components/Select.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.quiz
  background: $color-white
  color: $color-black
  position: fixed
  padding: 1rem
  max-width: rem(300px)
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%

.loading-spinner
  display: none !important
</style>
