<template lang="pug">
  main.widget__container.home
    .home__content
      Img.widget__kv(src="kv")

      Img.widget__kv-m(src="kv-m")

      .home__soon ЛЕТИ <br>В ТОП

      .home__text
        p {{'Прими участие в турнире, покажи свой скилл, скорость и концентрацию и выиграй ' | typograf}} <b>до 200 000 ₽</b>

        p {{'Для этого войди в свою учетную запись и предоставь доступ к ' | typograf}} <b>Twitch ID</b>

        a(@click.prevent="$emit('initTwitch'); $emit('collapse')" v-if="!token" href="#") Предоставить доступ

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Home',

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      token: 'me/token',
    }),
  },

  methods: {},

  mounted() {},

  components: {
    Loading: () => import('@/components/Loading.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.connect__loading
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, .5)
  z-index: 100
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center

  i
    margin-left: rem(10px)

.widget__kv-m
  top: rem(22px)
  right: rem(15px)

.home__text
  font-size: rem(17px)
  line-height: (20/17)

  p
    margin: 0 0 rem(15px) 0

    &:last-child
      margin-bottom: 0

.home__soon
  text-transform: uppercase
  text-align: left
  margin-top: rem(80px)
  font-size: rem(62px)
  font-family: $family-alt
  line-height: 94%
  text-shadow: 0px 3px 30px #00FFA9
  color: $color-white
  margin-bottom: rem(33px)
  font-style: italic
  font-weight: 500

  +is-mobile-app
    text-align: left
    margin-top: rem(10px)

</style>
