<template lang="pug">
  main.widget__container.home
    Img.widget__kv(src="kv")

    Timer.home__timer(
      @onEnd="onEnd"
      v-if="!restart"
      :count="ms")

    .quiz
      .quiz__title Вопрос {{ quiz.n }} из {{ quiz.total }}

      .quiz__text {{ quiz.text | typograf }}

      .quiz__set
        template(v-for="({ text, id }, index) in quiz.answers")
          button.quiz__set-item(
            :disabled="!!selected || stop"
            :class="[{'-active': selected === id}, {'-inactive': selected && (selected !== id) || stop}]"
            @click="onClick(id)"
            :key="index"
            type='button') {{ text }}

</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  name: 'Quiz',

  data() {
    return {
      selected: null,
      restart: null,
      stop: null,
    };
  },

  computed: {
    ...mapGetters({
      quiz: 'quiz/quiz',
    }),

    ms() {
      return this.quiz.seconds * 1000;
    },
  },

  methods: {
    ...mapActions({
      answer: 'quiz/Answer',
    }),

    ...mapMutations({
      updateResult: 'quiz/UPDATE_RESULT',
      updateRating: 'quiz/UPDATE_RATING',
    }),

    onEnd() {
      this.stop = true;
    },

    onMessage() {
      this.$options.sockets.onmessage = (e) => {
        const message = JSON.parse(e.data);

        if (message.name === 'question') {
          this.stop = null;

          this.selected = null;

          this.restart = true;

          this.$nextTick(() => {
            this.restart = null;
          });
        } else if (message.name === 'result') {
          this.updateResult(message.data);

          this.$router.push('/result');
        } else if (message.name === 'rating') {
          this.updateRating(message.data);
        }
      };
    },

    onClick(answer) {
      this.selected = answer;

      const payload = {
        data: {
          question: this.quiz.n,
          answer,
        },
      };

      this.answer(payload);
    },
  },

  mounted() {
    this.onMessage();
  },

  components: {
    Timer: () => import('@/components/Timer.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.quiz__btn-text
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-transform: uppercase
  color: rgba(0, 0, 0, .3)
  font-size: rem(18px)
  font-family: $family-alt
  font-weight: 500
  padding-bottom: rem(4px)

  +is-mobile-app
    font-size: rem(16px)

  &.-active
    color: $color-black

.quiz__btn-pic
  width: rem(165px)
  height: rem(47px)

  +is-mobile-app
    width: rem(168px)
    height: rem(39px)

.quiz__btn
  position: relative
  cursor: pointer
  border: 0
  background: transparent

  &[disabled]
    pointer-events: none

.quiz__set-icon
  margin-left: auto

.quiz__set-item
  cursor: pointer
  margin-bottom: rem(13px)
  padding: rem(10px) rem(11px)
  font-weight: 500
  transition: all $anim-global/2 ease-out
  background: rgba(0, 0, 0, 0.4)
  border: 1px solid $color-white
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  width: 100%
  color: $color-white
  font-size: rem(16px)

  &:last-child
    margin-bottom: 0

  &.-active
    pointer-events: none
    background: rgba(118, 129, 235, 0.3)
    border: 0.622807px solid #7681EB

  &.-inactive
    opacity: 0.5
    pointer-events: none

  &[disabled]
    pointer-events: none

  &:hover
    transform: scale(0.95)

    +is-mobile-app
      transform: none

  &:active, &:focus
    transform: none

  +is-mobile-app
    margin-bottom: rem(6px)
    font-size: rem(14px)
    padding: rem(9px)

.quiz__set
  margin-bottom: rem(15px)

  &:last-child
    margin-bottom: 0

.quiz__text
  font-size: rem(16px)
  line-height: (19/16)
  margin-bottom: rem(15px)

  +is-mobile-app
    font-size: rem(13px)
    line-height: (16/13)

.quiz__title
  font-size: rem(16px)
  font-family: $family-alt
  color: $color-green
  line-height: rem(19px)
  font-style: italic
  margin-bottom: rem(5px)
  font-weight: 500
  text-transform: uppercase

  +is-mobile-app
    margin-left: 50%
    margin-bottom: rem(24px)

.quiz
  padding-top: rem(40px)

  +is-mobile-app
    padding-top: rem(10px)

.widget__container
  min-height: rem(200px)

.home__timer
  +is-mobile-app
    right: auto
    left: 0
    top: rem(8px)

</style>
