<template lang="pug">
  main.widget__container.result
    Img.widget__kv(src="kv")

    Img.widget__kv-m(src="kv-m")

    .result(v-if="result")
      .result__title Поздравляем!

      .result__container
        .result__container-rating(:class="[{'-fz': result.place >= 100}, {'-fz1': result.place > 999}]") {{ result.place }}

        .result__sub-title {{ 'твоё место в рейтинге' | typograf }}

        .result__text
          template(v-if="result.place < 10") {{ 'GGWP! Держи позицию.' | typograf }}

          template(v-else-if="result.place < 18") Тащи, тащи, тащи!

          template(v-else-if="result.place < 32") {{ 'Еще чуть-чуть и ты в ТОПЕ!' | typograf }}

          template(v-else-if="result.place < 50") {{ 'Без борьбы нет победы' | typograf }}

          template(v-else-if="result.place < 125") {{ 'У тебя есть все шансы на победу!' | typograf }}

          template(v-else) {{ 'Введи промокод с пачки FIVE и заработай дополнительные баллы!' | typograf }}

        a.result__link(@click.prevent="openPopupRating" href="#") Посмотреть рейтинг

      .result__container
        .result__container-icon.icon.i_cursor

        .result__sub-title {{'Прими участие в следующих квизах' | typograf}}

        // .result__text {{'Переходи на сайт и выигрывай другие призы!' | typograf}}

        // a.result__link(href="https://5gum.ru" target="_blank") Перейти на сайт

        .result__btn(@click="openPopupStreamers")
          SvgIcon.result__btn-bg(id="btn-green")
          .result__btn-text Участвовать

</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Result',

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      result: 'quiz/result',
    }),
  },

  methods: {
    ...mapActions({
      popup: 'popup/show',
    }),

    async openPopupRating() {
      await this.popup({
        currentPopup: 'PopupRating',
      });
    },

    async openPopupStreamers() {
      await this.popup({
        currentPopup: 'PopupStreamers',
      });
    },
  },

  mounted() {},

  components: {},
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.result__btn-text
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-transform: uppercase
  font-size: rem(20px)
  font-family: $family-alt
  font-weight: 500
  line-height: 1

.result__btn-bg
  height: rem(48px)

.result__btn
  position: relative
  background: transparent
  border: 0
  padding: 0
  cursor: pointer
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-decoration: none
  color: $color-black
  margin-left: rem(-10px)

.result__container-rating
  position: absolute
  top: rem(6px)
  right: 100%
  margin-right: rem(-45px)
  text-align: right
  width: rem(80px)
  line-height: 0.7em
  font-size: rem(80px)
  font-family: $family-alt1
  text-shadow: 0px 2.74539px 27.4539px #00FFA9

  &.-fz
    font-size: rem(60px)

  &.-fz1
    font-size: rem(45px)

.result__container-icon
  position: absolute
  top: 0
  left: rem(2px)
  font-size: rem(35px)
  line-height: 1
  color: $color-green

.result__link
  color: $color-green
  text-decoration: underline
  text-transform: uppercase
  font-family: $family-alt
  font-size: rem(16px)
  font-weight: 500

  &:hover
    text-decoration: none

.result__text
  font-size: rem(14px)
  line-height: rem(18px)
  font-weight: 500
  // min-height: rem(36px)
  margin-bottom: rem(10px)

.result__sub-title
  margin-bottom: rem(8px)
  font-family: $family-alt
  text-transform: uppercase
  font-weight: 500
  font-size: rem(18px)

.result__container
  position: relative
  padding-left: rem(60px)
  color: $color-white
  margin-bottom: rem(50px)
  margin-right: rem(-15px)

  &:last-child
    margin-bottom: 0

.result__title
  text-transform: uppercase
  font-style: italic
  margin-bottom: rem(40px)
  font-family: $family-alt
  color: $color-white
  text-shadow: 0px 4.07285px 40.7285px #00FFA9
  font-size: rem(40px)
  font-weight: 500
  line-height: 1

  +is-mobile-app
    font-size: rem(35px)

.result
  padding-top: rem(40px)

  +is-mobile-app
    padding-top: rem(20px)
    padding-bottom: rem(20px)

.widget__kv-m
  +is-mobile-app
    top: rem(20px)
    right: rem(10px)

</style>
