<template lang="pug">
  main.widget__container.home
    Img.widget__kv(src="kv")

    Img.like(src="like")

    .mobile-style
      .title {{'Спасибо за участие в турнире!' | typograf}}

      .home__text {{'Будь в курсе будущих крутых акций FIVE' | typograf}}

      RssForm

</template>

<script>
export default {
  name: 'Rss',

  data() {
    return {};
  },

  methods: {},

  mounted() {},

  components: {
    RssForm: () => import('@/components/rss/RssForm.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.mobile-style
  +is-mobile-app
    margin: 0 auto
    max-width: rem(200px)

.like
  width: 100%

.widget__kv-m
  top: rem(22px)
  right: rem(15px)

.home__text
  font-size: rem(14px)
  line-height: 120%
  margin-bottom: rem(10px)

.title
  text-transform: uppercase
  text-align: left
  font-size: rem(21px)
  font-family: $family-alt
  line-height: 1
  text-shadow: 0px 3px 30px #00FFA9
  color: $color-white
  margin-bottom: rem(20px)
  font-style: italic
  font-weight: 500

  +is-mobile-app
    text-align: left

</style>
