<template lang="pug">
  main.widget__container.home
    Img.widget__kv(src="kv")

    Img.widget__kv-m(v-if="end" src="kv-m")

    Timer.home__timer(v-if="!end" :count="count")

    .home__soon(v-if="end") Турнир скоро начнется

    .countdown(v-if="!end")
      .countdown__title До начала турнира

      countdown.countdown__body(
        @progress="onProgress"
        @end="onEnd"
        :time="count" tag="div" :transform="transform")
        template(slot-scope="props")
          .countdown__body-item
            .countdown__body-num {{ props.minutes }}
            .countdown__body-label {{ '' | declOfNum(props.minutes, ['Минута', 'Минуты', 'Минут']) }}

          .countdown__body-item
            .countdown__body-num {{ props.seconds }}
            .countdown__body-label {{ '' | declOfNum(props.seconds, ['Секунда', 'Секунды', 'Секунд']) }}

    .home__code
      .home__code-text {{'Введи промокод с пачки FIVE® и получи преимущество в турнире' | typograf}}

      CodeForm(@success="showPopupRatingUpSuccess")

    .text-center
      .home__rating-view(@click="openPopupRating") Посмотреть рейтинг

</template>

<script>
import countdown from '@chenfengyuan/vue-countdown';
import { mapGetters, mapActions, mapMutations } from 'vuex';
import Timer from '@/components/Timer.vue';

export default {
  name: 'Start',

  data() {
    return {
      end: null,
    };
  },

  computed: {
    ...mapGetters({
      time: 'quiz/time',
    }),

    count() {
      return this.$date.unix(this.time.game_start_at) - this.$date.unix(this.time.server_time);
    },
  },

  methods: {
    ...mapActions({
      popup: 'popup/show',
    }),

    ...mapMutations({
      updateQuiz: 'quiz/UPDATE_QUIZ',
    }),

    async showPopupRatingUpSuccess() {
      await this.popup({
        currentPopup: 'PopupRatingUpSuccess',
      });
    },

    onProgress() {
      this.time.server_time = this.$date().unix();

      this.$forceUpdate();
    },

    onEnd() {
      this.end = true;
    },

    transform(p) {
      const props = p;

      Object.entries(props).forEach(([key, value]) => {
        const digits = value < 10 ? `0${value}` : `${value.toString().split('')[0]}${value.toString().split('')[1]}`;

        props[key] = `${digits}`;
      });

      return props;
    },

    async openPopupRating() {
      await this.popup({
        currentPopup: 'PopupRating',
      });
    },

    onStartQuiz() {
      this.$options.sockets.onmessage = (e) => {
        const message = JSON.parse(e.data);

        if (message.name === 'question') {
          this.updateQuiz(message.data);

          this.$router.push('/quiz').catch(() => {});
        }
      };
    },
  },

  mounted() {
    this.onStartQuiz();
  },

  components: {
    Timer,
    CodeForm: () => import('@/components/CodeForm.vue'),
    countdown,
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.home__soon
  text-transform: uppercase
  text-align: center
  margin-top: rem(80px)
  font-size: rem(62px)
  font-family: $family-alt
  line-height: 94%
  text-shadow: 0px 3px 30px #00FFA9
  color: $color-white
  margin-bottom: rem(33px)
  font-style: italic
  font-weight: 500

  +is-mobile-app
    text-align: left
    margin-top: rem(10px)

.home__timer
  +is-mobile-app
    display: none

.home__rating-view
  cursor: pointer
  text-decoration: underline
  font-size: rem(16px)
  line-height: 1
  color: $color-green
  font-family: $family-alt
  font-weight: 500
  margin-top: rem(35px)
  text-transform: uppercase

  &:hover
    text-decoration: none

.home__code-text
  margin-bottom: rem(12px)
  font-size: rem(14px)
  line-height: (16/14)

.countdown__body-label
  font-family: $family-alt
  font-weight: 500
  color: $color-green
  font-size: rem(19px)
  line-height: 1
  text-transform: uppercase
  font-style: italic

.countdown__body-num
  font-family: $family-alt1
  font-size: rem(96px)
  line-height: 1
  margin-bottom: rem(6px)

.countdown__body-item
  flex: 1
  width: 50%

.countdown__body
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: flex-start

.countdown
  text-align: center
  margin-top: rem(98px)
  margin-bottom: rem(29px)

  +is-mobile-app
    margin-top: rem(18px)

.countdown__title
  text-transform: uppercase
  font-family: $family-alt
  font-size: rem(32px)
  line-height: 1
  font-weight: 500
  font-style: italic
  margin-bottom: rem(11px)

.widget__container
  // height: rem(485px)

</style>
