<template lang="pug">
  form.form(@submit.prevent="send" novalidate autocomplete="off")
    .form__item
      .form__set(:class="{'-error': $v.code.$error}")
        input.form__input(
          @input="errorMessage = null"
          v-model="code"
          type="text"
          maxlength="150"
          placeholder="ПРОМОКОД"
          autocomplete="off")

        button.form__btn(
          :class="{'-pending': pending}"
          :disabled="pending"
          type="submit")
          SvgIcon.form__btn-pic(id="btn-code-form")
          .form__btn-icon.icon.i_arr-r
          Loading(v-if="pending")

      transition(
        @before-enter="beforeEnter" @enter="enter"
        @before-leave="beforeLeave" @leave="leave"
        name="accordion")
        .form__error.accordion-h(v-if="errorMessage") {{errorMessage}}
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'CodeForm',

  data() {
    return {
      code: null,
      errorMessage: null,
      pending: null,
    };
  },

  validations() {
    return {
      code: {
        required,
      },
    };
  },

  methods: {
    ...mapActions({
      promocode: 'me/Promocode',
    }),

    async send() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        if (this.pending !== 'PENDING') {
          this.pending = 'PENDING';

          this.errorMessage = null;

          const payload = {
            ctx: this,
            data: {
              promocode: this.code,
            },
          };

          try {
            const res = await this.promocode(payload);

            this.pending = null;

            console.log(res);

            if (res.message || res.error) {
              this.errorMessage = res.message || res.error;

              return;
            }

            this.code = null;

            this.$v.$reset();

            this.$emit('success');
          } catch (e) {
            this.errorMessage = e;
          } finally {
            this.pending = null;
          }
        }
      }
    },

    beforeEnter(e) {
      const el = e;

      el.style.height = '0';
    },

    enter(e) {
      const el = e;

      el.style.height = `${el.scrollHeight}px`;
    },

    beforeLeave(e) {
      const el = e;

      el.style.height = `${el.scrollHeight}px`;
    },

    leave(e) {
      const el = e;

      el.style.height = '0';
    },

  },

  mounted() {},

  components: {
    SvgIcon: () => import('@/components/SvgIcon.vue'),
    Loading: () => import('@/components/Loading.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.accordion-h
  transition: all $anim-global ease-out
  overflow: hidden

.form__error
  color: $color-red
  line-height: 1
  margin-top: .5rem

  &:first-letter
    text-transform: uppercase

.form__btn-icon
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: $color-black
  font-size: rem(17px)
  line-height: 1
  margin-left: rem(2px)
  margin-top: rem(-1px)

.form__set
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  height: rem(40px)
  background: rgba(0, 0, 0, 0.4)
  border: rem(1px) solid $color-white

  &.-error
    border-color: $color-red
    animation: bounce $anim-global

.form__btn-pic
  width: 100%
  height: 100%
  vertical-align: middle

.form__btn
  border: 0
  padding: 0
  cursor: pointer
  background: none
  position: relative
  width: rem(50px)
  height: rem(49px)
  margin: 0 rem(-4px) 0 0

  &.-pending
    svg
      opacity: 0

.form__input
  width: 100%
  border: 0
  padding: rem(10px) rem(9px)
  background: transparent
  font-size: rem(15px)
  font-weight: normal
  flex: 1
  color: $color-white
  min-width: 0

  +placeholder
    text-transform: uppercase
    color: $color-white
    opacity: 1

.form__item
  margin-bottom: rem(15px)

  &:last-child
    margin-bottom: 0

</style>
