<template lang="pug">
  .select(v-click-outside="onClickOutside")
    .select-head(@click="showDrop")
      input.input-text(
      :class="{'-pr': isSearch}"
        @input="search(selected)"
          @blur="cancel"
      v-model="selected"
        :readonly="!isSearch" type="text" maxlength="" :placeholder="placeholder")

      i.select-arr.-x.icon.i_x(
      @click.stop="cancel"
      v-if="remove && selected")

      i.select-arr.icon.i_arr-b(:class="{'-active': show}")

    transition(name="slide-bottom-min")
      .select-drop.scrollbar-styled(v-if="show")
        .select-option(
        :key="index"
          @click="select(item, index)"
        v-for="(item, index) in (isSearch ? searchList : list)")
          template(v-if="propName") {{item[propName]}}

          template(v-else-if="obj") {{item}}

          template(v-else) {{item.text}}

</template>

<script>
export default {
  props: ['list', 'placeholder', 'first', 'propName', 'obj', 'remove', 'isSearch', 'empty'],
  name: 'Select',
  data() {
    return {
      ready: false,
      show: false,
      selected: this.first ? this.first : null,
      fullList: this.list,
      searchList: [],
    };
  },
  watch: {
    first(val) {
      this.selected = val;
    },

    empty(val) {
      if (!val) {
        this.selected = null;
      }
    },
  },
  methods: {
    showDrop() {
      this.show = !this.show;

      if (this.isSearch) {
        this.searchList = this.list;

        this.fullList = this.list;
      }
    },

    cancel() {
      this.selected = null;

      this.$emit('select', null);

      setTimeout(() => {
        this.searchList = this.list;
      }, 1000);
    },

    search(val) {
      if (val) {
        if (this.obj) {
          this.searchList = this.fullList.filter((item) => item.toLowerCase()
            .indexOf(val.toLowerCase()) > -1);
        } else {
          this.searchList = this.fullList.filter((item) => item.name.toLowerCase()
            .indexOf(val.toLowerCase()) > -1);
        }
      } else {
        this.searchList = this.fullList;
      }

      this.show = true;
    },

    onClickOutside() {
      this.close();
    },

    close() {
      this.show = false;
    },

    select(i, id) {
      this.close();

      if (this.propName) {
        this.selected = i[this.propName];
      } else if (this.obj) {
        this.selected = i;
      } else {
        this.selected = i.text;
      }

      if (this.obj) {
        this.$emit('select', id);
      } else {
        this.$emit('select', i);
      }

      if (this.isSearch) {
        setTimeout(() => {
          this.searchList = this.list;
        }, 1000);
      }
    },
  },
  mounted() {
    if (this.isSearch) {
      this.searchList = this.list;
    }
  },
  components: {},
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.select
  position: relative

  &.-disabled
    pointer-events: none

  &.-border
    input
      border: 2px solid $color-green

  &.-border-purple-cold
    input
      border: 2px solid #A7AFCE

  &.-white
    input
      background-color: $color-white

  &.-mdl
    .select-arr
      right: 5px

    input
      font-size: 12px
      padding: 6px 26px 6px 6px
      overflow: hidden
      text-overflow: ellipsis

      &.-pr
        padding-right: 40px

  &.-error
    animation: bounce .5s .25s

    .input-text
      background-color: rgba(222, 0, 33, 0.1)

  &.text-center
    text-align: center

    .select-drop
      text-align: center

    input
      text-align: center
      text-transform: uppercase

      +placeholder
        opacity: 1

  .select-head
    cursor: pointer

  .select-option
    cursor: pointer
    margin-bottom: 5px
    background: #F8F9FC
    padding: 5px 8px
    border-radius: 5px

    .-green
      color: $color-green

    &:last-child
      margin-bottom: 0

    &:hover
      background: #DDE4F3

  .select-drop
    background-color: $color-white
    padding: 8px
    position: absolute
    margin-top: 1px
    top: 100%
    left: 0
    min-width: 100%
    z-index: 10000
    max-height: 30vh
    overflow: auto
    box-shadow: 0 2px 6px rgba(167, 175, 206, 0.7)
    border-radius: 5px
    text-align: left
    line-height: 1.2

  input
    cursor: pointer

    &:read-only
      pointer-events: none

  .select-arr
    position: absolute
    top: 50%
    right: 12px
    transform: translateY(-45%)
    line-height: 1
    color: $color-green
    transition: all $anim-global ease-out

    &.-x
      transition: none
      transform: translateY(-45%) translateX(-150%) scale(0.8)
      color: $color-red

    &.-active
      transform: translateY(-45%) rotate(-180deg)

</style>
