<template lang="pug">
  .show-btn
    .show-btn__x
      .icon.i_x

    .show-btn__collapsed
      .show-btn__flare
      img.show-btn__collapsed-pic(
        :src="require(`@/assets/images/collapse.${$store.getters['app/webp'] ? 'webp' : 'png'}`)" alt="")

</template>

<script>
export default {
  name: 'ShowBtn',

  data() {
    return {};
  },

  methods: {},

  mounted() {},

  components: {},
};
</script>

<style lang="sass">
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

@keyframes flareAnimation
  0%
    top: 100%

  100%
    top: -100%

.show-btn__flare
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  pointer-events: none
  opacity: 0.5
  transition: all $anim-global ease-out

  &::after
    content: ""
    position: absolute
    top: 0
    height: 100%
    width: rem(53px)
    left: -150%
    background: linear-gradient(175.87deg, rgba(0, 255, 186, 0) 70.38%, rgba(1, 231, 174, 0.5) 81.86%)
    transform: matrix(-0.22, -1.01, 0.91, -0.33, 0, 0)
    animation: flareAnimation 1.5s infinite linear

.show-btn__collapsed-pic
  opacity: 1
  position: relative
  width: 100%
  left: 0
  vertical-align: middle

  .-hidden &
    opacity: 1
    visibility: visible
    pointer-events: auto

.show-btn__collapsed
  opacity: 0
  visibility: hidden
  pointer-events: none
  position: fixed
  top: 50%
  left: 0
  width: rem(51px)
  transform: translate(-100%, -50%)
  transition: all $anim-global ease-out
  box-shadow: 0px 2.75676px 2.75676px #49FFCE, 0px 2.06757px 20.6757px #00FFA9
  background: url("../assets/images/collapse-bg.png") no-repeat 50% 50%
  background-size: contain
  overflow: hidden

  &::before
    content: ""
    pointer-events: none
    position: absolute
    width: rem(126px)
    height: rem(147px)
    left: rem(-28px)
    top: rem(-40px)
    background: radial-gradient(55.66% 55.66% at 50% 50%, #6A74D5 0%, rgba(106, 116, 213, 0) 100%)
    background-blend-mode: screen
    opacity: 0.4
    transition: all $anim-global ease-out

  &:hover
    box-shadow: 0px 2.75676px 2.75676px #49FFCE, 0px 2.06757px 30.68px #00FFA9

    &::before
      background: radial-gradient(55.66% 55.66% at 50% 50%, #6A74D5 0%, rgba(106, 116, 213, 0) 100%)
      opacity: 0.8

    .show-btn__flare
      opacity: 0

  .-hidden &
    opacity: 1
    visibility: visible
    pointer-events: auto
    transform: translate(rem(-7px), -50%)

    &:hover
      transform: translate(rem(-1px), -50%)

.show-btn__x
  width: rem(24px)
  height: rem(24px)
  background: rgba(0, 0, 0, .7)
  border: 1px solid #4C5B50
  box-sizing: border-box
  box-shadow: 0px 2.79469px 9.31564px rgba(0, 0, 0, 0.59)
  display: inline-flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  font-size: 0.7rem
  line-height: 1
  color: $color-white
  text-shadow: 0 0 5px #00EE32

  .icon
    transition: all $anim-global cubic-bezier(0.47, 1.87, 0.68, 0.99)

  &:hover
    color: $color-red

    .icon
      transform: rotate(90deg)

  .-hidden &
    opacity: 0
    visibility: hidden
    pointer-events: none
    display: none

.show-btn
  position: absolute
  top: rem(-40px)
  right: 0
  cursor: pointer
  z-index: 10

  +is-mobile-app
    top: rem(9px)
    right: rem(9px)

</style>
