<template lang="pug">
  .timer
    .timer__icon.icon.i_time

    countdown(
      @end="$emit('onEnd')"
      :time="count"
      tag="div"
      :transform="transform")
      template(slot-scope="props") {{ props.minutes }}:{{ props.seconds }}

</template>

<script>
import countdown from '@chenfengyuan/vue-countdown';

export default {
  name: 'Timer',

  props: {
    count: Number, // ms
  },

  data() {
    return {};
  },

  methods: {
    transform(p) {
      const props = p;

      Object.entries(props).forEach(([key, value]) => {
        const digits = value < 10 ? `0${value}` : `${value.toString().split('')[0]}${value.toString().split('')[1]}`;

        props[key] = `${digits}`;
      });

      return props;
    },
  },

  mounted() {},

  components: {
    countdown,
  },
};
</script>

<style lang="sass">
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.timer__icon
  font-size: 0.7em
  margin-right: rem(4px)

.timer
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  position: absolute
  top: rem(22px)
  right: 0
  background: #6ACFB4
  padding: rem(5px) rem(12px)
  color: $color-white
  font-size: rem(32px)
  line-height: 1
  box-shadow: 0px rem(3px) rem(30px) #00FFA9
  font-style: italic
  font-weight: 500
  font-family: $family-alt

  +is-mobile-app
    padding-left: rem(28px)

</style>
