<template lang="pug">
  router-view(@initTwitch="initTwitch(true)")
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { isPortrait } from '@/utils/device';

export default {
  data() {
    return {
      authorized: false,
    };
  },

  computed: {
    ...mapGetters({
      token: 'me/token',
    }),
  },

  methods: {
    ...mapActions({
      login: 'me/LoginTwitch',
      listen: 'me/Listen',
    }),

    ...mapMutations({
      setToken: 'me/SET_TOKEN',
      removeToken: 'me/REMOVE_TOKEN',
      setPlatform: 'app/SET_PLATFORM',
      setTime: 'quiz/UPDATE_TIME',
      setList: 'admin/SET_LIST',
    }),

    searchToObject() {
      const pairs = window.location.search.substring(1)
        .split('&');
      const obj = {};
      let pair;
      let i;

      for (i in pairs) { // eslint-disable-line
        if (pairs[i] === '') continue; // eslint-disable-line

        pair = pairs[i].split('=');

        obj[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
      }

      return obj;
    },

    detectPlatform() {
      const { platform } = this.searchToObject();

      const { authKey } = this.searchToObject();

      this.setPlatform(platform);

      // this.$store.commit('app/SET_PLATFORM', 'mobile');

      console.log('--- platform ---', platform);

      if (platform) {
        document.querySelector('body')
          .classList
          .add(`-${platform}`);
      }

      if (authKey) {
        this.setToken(authKey);
      }
    },

    detectModeDashboard() {
      const { mode } = this.searchToObject();

      return mode === 'dashboard';
    },

    detectModeConfig() {
      const { mode } = this.searchToObject();

      return mode === 'config';
    },

    async initTwitch(share) {
      const twitch = window.Twitch.ext;

      if (share) {
        await twitch.actions.requestIdShare(); // запрос пермишена
      }

      twitch.onAuthorized((auth) => {
        twitch.rig.log('---auth', auth);

        this.setToken(auth);

        this.initWS(auth);
      });
    },

    initWS(auth) {
      this.$connect();

      this.$socket.onopen = async () => {
        this.$store.commit('SOCKET_ONOPEN');

        const payload = {
          ctx: this,
          data: {
            jwt: auth?.token,
          },
        };

        const res = await this.login(payload);

        if (res.uuid) {
          this.setToken(res.uuid);

          if (this.detectModeDashboard() || this.detectModeConfig()) {
            await this.$router.replace('/dashboard').catch(() => {});
          } else {
            await this.$router.replace('/').catch(() => {});

            const data = {
              ctx: this,
              data: {
                channel_id: auth.channelId,
                uuid: res.uuid,
              },
            };

            try {
              await this.listen(data);
            } catch (e) {
              // ...
            }
          }
        }
      };

      // общие сообщения сокета для всего апп
      this.$options.sockets.onmessage = (e) => {
        const message = JSON.parse(e.data);

        // ошибка авторизации или пермишена
        if (message.name === 'error'
          && (message.data?.error === 'no user id'
          || message.data?.error === 'Bad JWT')) {
          this.$disconnect();

          this.removeToken();

          if (!this.detectModeDashboard()) {
            this.$router.push('/').catch(() => {});
          }
        }

        // список всех квизов на данном канале
        if (message.name === 'quiz.list') {
          this.setList(message.data?.list);
        }

        // исходное положение виджета до старта
        if (message.name === 'hello') {
          this.setTime(message.data);

          if (!this.detectModeDashboard() && !this.detectModeConfig()) {
            this.$router.push('/start').catch(() => {});
          }
        }
      };
    },

    handleWindowResize() {
      this.$store.commit('app/UPDATE_WINDOW_WIDTH', window.innerWidth);

      this.$store.commit('app/UPDATE_IS_PORTRAIT', isPortrait());

      this.$store.commit('app/UPDATE_IS_MOBILE', (isPortrait() && window.innerWidth < 768));

      if (isPortrait()) { // фикс мобильного вида в апп при фокусе инпута
        document.documentElement.style.setProperty('font-size', '5vw');
      }
    },
  },

  mounted() {
    this.detectPlatform();

    this.initTwitch();

    if (this.detectModeDashboard()) {
      this.$router.replace('/dashboard'); // панель управления для стримера
    } else if (this.detectModeConfig()) {
      this.$router.replace('/config'); // панель настройка расширения
    } else if (!this.token) {
      this.$router.replace('/home').catch(() => {});
    }

    if (process.env.NODE_ENV !== 'production') {
      const token = process.env.VUE_APP_TOKEN_TWITCH;
      const channelId = process.env.VUE_APP_CHANNEL_ID_TWITCH;

      this.initWS({
        channelId,
        token,
      });
    }
  },

  async created() {
    this.handleWindowResize();

    window.addEventListener('resize', this.handleWindowResize);
  },

  destroyed() {
    window.removeEventListener('resize', this.handleWindowResize);

    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>
