<template lang="pug">
  #app
    .widget
      .dev-nav(v-if="isDev")
        JsonViewer(:expand-depth=0 :value="$store.getters")

        nav.dev-menu
          div: router-link(to="/") Home

          div: router-link(to="/start") Start

          div: router-link(to="/quiz") Quiz

          div: router-link(to="/result") Result

          div: router-link(to="/rss") Rss

      keep-alive
        router-view

</template>

<script>
import JsonViewer from 'vue-json-viewer';

export default {
  name: 'LayoutFull',

  data() {
    return {
      collapse: true,
      isDev: process.env.NODE_ENV !== 'production',
    };
  },

  methods: {},

  mounted() {},

  components: {
    JsonViewer,
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.dev-menu
  position: fixed
  left: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: flex-start
  gap: 15px
  z-index: 100
  font-size: 12px
  background: $color-white

  a
    color: $color-green
    display: inline-flex

    &.router-link-exact-active
      color: $color-red
      pointer-events: none
      text-decoration: none

/deep/ .dev-nav
  position: fixed
  top: 0
  left: 0
  color: $color-white
  z-index: 1000

  .jv-code
    padding: 0

.preload
  position: absolute
  left: -9999px
  top: -9999px
  pointer-events: none
  opacity: 0

  .font
    font-family: $family-alt

  .font1
    font-family: $family-alt1

</style>
