<template lang="pug">
  #app
    .widget(:class="{'-center': $route.name === 'dashboard'}")
      .preload
        | font

        .font font

        .font1 font1

        img(
          width="10"
          height="10"
          :src="require(`@/assets/images/collapse.${$store.getters['app/webp'] ? 'webp' : 'png'}`)" alt="")

        img(
          width="10"
          height="10"
          :src="require(`@/assets/images/collapse-bg.${$store.getters['app/webp'] ? 'webp' : 'png'}`)" alt="")

      .dev-nav(v-if="isDev")
        JsonViewer(:expand-depth=0 :value="$store.getters")

        nav.dev-menu
          div: router-link(to="/") Home

          div: router-link(to="/start") Start

          div: router-link(to="/quiz") Quiz

          div: router-link(to="/result") Result

          div: router-link(to="/rss") Rss

      ShowBtn(@click.native="collapse = !collapse" :class="{'-hidden': collapse}")

      div(v-show="!collapse")
        transition(name="slide-bottom-smile" mode="out-in" appear)
          keep-alive
            router-view(
              @collapse="collapse = !collapse"
              @initTwitch="$emit('initTwitch')")

    transition(name="fade" @after-enter="$store.commit('popup/SHOW_POPUP_CONTENT', true)" mode="out-in")
      PopupLayout(v-if="$store.getters['popup/popup'].opened")
        transition(name="slide-bottom-smile" mode="out-in")
          keep-alive
            component(:is="$store.getters['popup/popup'].currentPopup")

</template>

<script>
import JsonViewer from 'vue-json-viewer';

export default {
  name: 'Layout',

  data() {
    return {
      collapse: true,
      isDev: process.env.NODE_ENV !== 'production',
    };
  },

  methods: {},

  mounted() {
    this.$store.dispatch('popup/hide');

    // this.$store.dispatch('popup/show', {
    //   currentPopup: 'PopupStreamers',
    //   // message: {
    //   //   head: 'спасибо!',
    //   //   body: 'Твоя пачка успешно отсканирована. <br> Теперь ты участвуешь в розыгрыше ценных призов!',
    //   //   btn: 'ok',
    //   // },
    //   // data: {
    //   //   type: 6,
    //   //   link: 'test',
    //   // },
    // });
  },

  components: {
    JsonViewer,
    ShowBtn: () => import('@/components/ShowBtn.vue'),
    PopupLayout: () => import('@/components/popups/PopupLayout.vue'),
    PopupMessage: () => import('@/components/popups/PopupMessage.vue'),
    PopupRating: () => import('@/components/popups/PopupRating.vue'),
    PopupRatingUpSuccess: () => import('@/components/popups/PopupRatingUpSuccess.vue'),
    PopupStreamers: () => import('@/components/popups/PopupStreamers.vue'),
  },
};
</script>

<style lang="sass" scoped>
@import "../styles/mixins/mixins"
@import "../styles/vars/variables"

.dev-menu
  position: fixed
  left: 0
  bottom: 0
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: flex-start
  gap: 15px
  z-index: 100
  font-size: 12px
  background: $color-white

  a
    color: $color-green
    display: inline-flex

    &.router-link-exact-active
      color: $color-red
      pointer-events: none
      text-decoration: none

/deep/ .dev-nav
  position: fixed
  top: 0
  left: 0
  color: $color-white
  z-index: 1000

  .jv-code
    padding: 0

.preload
  position: absolute
  left: -9999px
  top: -9999px
  pointer-events: none
  opacity: 0

  .font
    font-family: $family-alt

  .font1
    font-family: $family-alt1

</style>
